<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Quote</title>
</head>
<body>
    <h1>Add New Quote</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Quote</button>
    </form>
</body>
</html>
{% extends 'quotes/base.html' %}

{% block title %}Додати нову цитату{% endblock %}

{% block content %}
    <h1>Add New Quote</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Quote</button>
    </form>
{% endblock %}